extends layout


block content
    h1 List of Beers in Fridge

    -each i in docs
        p ----------------------
        p <strong>Name: #{i.name}
        p <strong>Type: #{i.type}
        p <strong>Amount: #{i.quantity}
        p <strong>ID: #{i._id}


        input(data-quant= '#{i.quantity}', data-id= '#{i._id}', type = 'button', value ="Drank one!", class='minusone')
        input(data-id= '#{i._id}', type = 'button', value ="delete beer", class='delete')

    h1 Add a Beer

    input(name ='beerName', placeholder="Name", id ='nameoname')
    input(name ='beerType', placeholder="Type", id ='typeotype')
    input(name ='beerQuant', placeholder="Quantity", id ='quantoquant')
    input(type = 'button' , value ='Add Beer', class = "addBeer")


    script(type='text/javascript').
        $(document).ready(function() {


            $(".delete").click(function() {


                $.ajax({
                    type: 'DELETE',
                    url: '/api/beer/' + $(this).attr('data-id')


                }).done(function(result) {
                    location.reload()

                });
            });


            $(".addBeer").click(function () {






                var newBeeryo = {

                   name: document.getElementById('nameoname').value,
                    type: document.getElementById('typeotype').value,
                    quantity: document.getElementById('quantoquant').value,
                }

                $.ajax({
                    type: 'POST',
                    data: newBeeryo,
                    url: '/api/beer/',
                    dataType: 'JSON'



            }).done(function (result) {
                    location.reload()

                });
            });


            $(".minusone").click(function () {


                var minusonebeer = {

                    quantity: $(this).attr('data-quant') -1
                }

                $.ajax({
                    type: 'PUT',
                    data: minusonebeer,
                    url: '/api/beer/' + $(this).attr('data-id'),
                    dataType: 'JSON'


                }).done(function (result) {
                    location.reload()

                });
            });






        });

    button(onclick="location.href = 'api/beer';") Login






